/* your styles will go here!! */
#top {
    background: #ffffff;
}
image {
    width: 102px;
height: 105px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
footer{
    text-align: center;
}