/* your styles will go here!! */
#top {
    background: #ffffff;
}
h1{
    text-align: center;
    color: #000;
    font-family: Judson;
    font-size: 40px;
    font-weight: 400;
}
h2{
    text-align: center;
    color: #000;
    font-family: Judson;
    font-size: 40px;
    font-weight: 400;
}
footer{
    text-align: center;
    color: #000;
    font-family: Judson;
    font-size: 20px;
    font-weight: 400;
    background: #d3d3d3;
    padding: 50px;
}
header{
    background-image: url('vinyl.jpg');
    background-size: cover;
    min-height: 360px;
    padding: 100px;
}
head{
    background-image: url('Microphone.png');
    align-items: center;
    width: 10px;
height: 10px;
}
section{
    background-color: #d3d3d3;
    padding: 20px;
    color: #ffffff;
    min-width: 360px;
}