/* your styles will go here!! */
#top {
    background: #ffffff;
    body {
        background-color: #FFF;
        margin: 0 auto;
      }
      
      header {
        background-color: #466995;
        border-bottom: 1px solid #466995;
        position: fixed;
        width: 100%;
        z-index: 10;
      }
      
      ul {
        margin: 30px auto;
        padding: 0 20px;
        text-align: center;
      }
      
      li {
        color: #FFF;
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        display: inline-block;
        width: 80px;  
      }
      
      li:hover {
        color: #DBE9EE;
}
h1{
    text-align: center;
    color: #000;
    font-family: Judson;
    font-size: 40px;
    font-weight: 400;
}
h2{
    text-align: center;
    color: #ffffff;
    font-family: Jura
    font-size: 64px;
    font-weight: 400;
}
footer{
    text-align: center;
    color: #000;
    font-family: Judra
    font-size: 20px;
    font-weight: 400;
    background: #d3d3d3;
    padding: 50px;
}
header{
    background-image: url('vinyl.jpg');
    background-size: cover;
    min-height: 360px;
    padding: 100px;
}
section{
    background-color: #3F3F3F;min-width: 100%;
    padding: 20px;
    text-emphasis-color: white
    width: 1440px;
height: 143px;
flex-shrink: 0;
    ;
}